.ctrl {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.progressCircle {
    height: 0;
    width: 300px;
    display: block;
    padding-bottom: 300px;
    position: relative;
    margin-bottom: 10px;
}
.progressCircle svg {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: rotate(-90deg);
    top: 0;
    left: 0;
    overflow: visible;
}
.progressCircle .circle {
    fill: none;
    stroke-width: 50;
    stroke-dasharray: 0, 157;
}
.progressCircle .pie {
    stroke: blue;
    webkit-animation-name: pie;
    animation-name: pie;
}
.progressCircle .base {
    fill: #f9f9f9;
}
@-webkit-keyframes pie {
    50%,
    100% {
        stroke-dasharray: 157, 157, 0, 0;
    }
}
@keyframes pie {
    50%,
    100% {
        stroke-dasharray: 157, 157, 0, 0;
    }
}
.progressBarInfo {
    font-size: 18px;
    color: #00bcac;
}
